# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
ENV/
env/
.env

# Database
*.db
*.sqlite3

# Node / Frontend
node_modules/
dist/
dist-ssr/
*.local

# OS
.DS_Store
Thumbs.db
.vercel
